body{
    position: relative;
    background-color: white;
    margin: 0px;
    padding: 0px;
    /* margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent; */
}

/* Fan=mous episode section*/
.dropbtn{
    visibility: hidden;
}
.topnav{
    position:static;
    left: 0px;
    right: 0px;
   
    background: -webkit-gradient(linear, left top, right top, color-stop(0.45, #f7f7f9), color-stop(1, #f7f7f7));
    background: -webkit-linear-gradient(left, #f7f7f9 45%, #f7f7f7 100%);
    background: -moz-linear-gradient(left, #f7f7f9 45%, #f7f7f7 100%);
    background: -o-linear-gradient(left, #f7f7f9 45%, #f7f7f7 100%);
    background: -ms-linear-gradient(left, #f7f7f9 45%, #f7f7f7 100%);
    background: linear-gradient(to right, #f7f7f9 45%, #f7f7f7 100%);
}
.head,.righthead,.headtag{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.topcontent{
    background-image: url('images/Mask Group 2.png');
    margin-top: 1%;
    height: 720px;
    background-repeat: no-repeat;
    background-position: right;    
}
.lefthead,.righthead{
    margin-top: 2%;
    
}
.lefthead{
    margin-right: 10%;
}
.navigation{
    margin-left: 6%;
    color: gray;
    text-decoration: none;
}
.navigation:hover{
    color: orangered;
}
#home{
    color: orangered;
    padding-bottom: 0px;
    border-bottom: 2px solid orangered;
    text-decoration: none;
}
.righthead a{
    font-weight: bold;
}

.subscribe{
    width: 290px;
    height: 35px;
    font-weight: bold;
    border-radius: 3.5px;
}
.explore{
    width: 100px;
    height: 35px;
    margin-top: -60px;
    font-weight: bold;
    border-radius: 3.5px;
}
.headtag{
    margin-top: 7%;
}
#headline{
    margin-top: -50px;
    white-space: pre-line;
    
}
#headdetails{
    margin-top: -30px;
    white-space: pre-line;
    opacity: 0.75;
}


/* All section mixes */
.left,.content,.hashtag{
    display:flex;
    flex-direction: column;
    align-content:flex-start;
    align-items:flex-start;
    
}

.subscribe,.explore,.viewall,.view{
    background-color: orangered;
    color: white;
    border:0px solid orangered;
    
}
.arrows,.subscribe,.exmore,.explore,.view,.viewall,.readMore,#subscribe{
    cursor: pointer;
    transition: .5s;
}
.subscribe:hover,.exmore:hover,.explore:hover,.view:hover,.viewall:hover,.readMore:hover,#subscribe:hover{
        -webkit-box-shadow: 5px 5px 29px -8px #FF1111; 
    box-shadow: 5px 5px 29px -8px #FF1111;
}

/*Latest blog section*/
.hashtag{
    color: gray;
    font-size:smaller;
    margin-left: 2%;
    width: 150px;
    opacity: 0.6;
}
.headline,.headdetails,.explore{
    margin-top: 3%;
}
h1{
    font-weight: bold;
}
.hl{
    border-top: 2px solid orangered;
    width: 30px;
    
     
}
.viewall,.view{
    width: 80px;
    height: 31px;
    font-weight: bold;
}
.viewall{
    margin-right: 5%;
}
.view{
    margin-left: 80%;
}
.blogsimg{
    margin-left: -20px;
}
.headtag h6{
    color: orangered;
}
.blogslist{
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items:center;
    width:80%;
    margin-left: 10%;
    background-color:white;
    box-shadow:5px 5px 25px rgba(231, 231, 231, 0.521); 
    border-radius: 5px;
    padding-bottom: 4%;
    margin-top: -40px;
}
#latest{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 3%;
}

.blogs{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
}

.vl{
    border-left: 2px solid gray;
    height:120px;
    opacity: 0.5;
}

.exmore{
    height: 34px;
    width: 160px;
    border-radius: 3%;
}
.exmore,.readMore{
    color: orangered;
    border: 2px solid orangered;
    margin-top: 2%;
    background-color: white;
}
.content{
    margin-left: -25px;
}
.blog-head{
    white-space: pre-line;
    font-weight: bold;
    margin-top: -3px;
    font-size: large;
}
.blog-details{
    white-space: pre-line;
    margin-top: -20px;
    opacity: 0.75;
}


/* blog section*/
.carousel-section {
    width: 80%;
    margin-left: 10%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50px;
    align-items: center;
    padding-bottom: 2%;
    
  }
.slideshow{
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 0%;

}
#slide1,#slide5{
    display: none;
}
.slides{
    display: flexbox;
    flex-direction: column;
    align-content: flex-star;
    align-items: flex-start;
    margin-top: 20px;
    width: 280px;
    height: 312px;
    background-color: white;
    box-shadow:5px 5px 25px  rgba(134, 134, 134, 0.466); 
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding-left: 3%;
    padding-right: 2%;
    border-left: 3px solid orangered;
    
}

.post-details{
    white-space: pre-line;
    margin-top: -20px;
    width: 100%;
}
.cast{
    margin-top: -15px;
}

#date{
    color: #000000;
    opacity: 0.3;
    font-size: small;
    margin-left: 2%;
}
.slides h5{
    font-weight: bolder;
    margin-top: -0.5px;
}
.slides h6{
    color: orangered;
    width: 100%;
}
.slides p{
    opacity: 0.5;
}
.arrows{
    margin-top: 4%;
    cursor: pointer;
  width: auto;
}
.readMore{
    margin-top: 3%;
    width: 100px;
    height: 30px;
}



/*Instagram feeds section*/
.grid-container {
   display: grid;
   grid-template-columns: auto auto auto auto;
   column-gap: 0px;
  }
  .feeds{
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items:center;
    width:80%;
    margin-left: 10%;
    background-color:white;
    position:inherit;
    top: 50px;
}
#item2{
    grid-row: 1/3;
    position: relative;
    content: "\221E";
    grid-column:2;
}
#item7{
	
    grid-row:2/4;
    grid-column:4;
  }
  .grid-item{
    width: 100% !important;
    height: auto !important;
    object-fit: fill;
  }

  /*Subscription DIv*/
  .subscription{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      margin-top: 7%;
      width: 80%;
      margin-left: 10%;
  }
  .subscription section{
      margin-top: 5px;
  }
  #newBlog{
      text-decoration: underline;
  }
  .details{
      margin-top: -23px;
      white-space: pre-line;
      opacity: 0.75;
  }
  #email{
      width: 420px;
    height: 36px;
    color:#000000;
    background-color: rgba(169, 169, 169, 0.603);
    border: 0px solid darkgray;
  }
  input[type='email']::placeholder
    {   
        text-align:center; 
        font-weight: bold;
      color: rgb(87, 87, 87);
    }

  #subscribe{
      color: white;
      background-color: orangered;
      border:0px solid orangered;
      width: 120px;
      height: 38px;
      font-weight: bold;
      margin-left: -1px;
  }

/*Footbar Nav*/
footer{
    margin-top: 4%;
}
.botnav{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
}
.fun{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#foot-details{
    white-space: pre-line;
    margin-top: -7px;
    opacity: 0.75;
}
.botnav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin-left: 10%;
}

.botnav-content div{
    width: 100;
    margin-top: 3%;
}
.footbar-pages,.recent-blogs,.partners{
    margin-top: 13%;
}
.footbar-pages li a,.recent-blogs li a{
    text-decoration: none;
    color: #000000;
}
.footbar-pages li a:hover,.recent-blogs li a:hover{
    text-decoration: none;
    color: orangered;
}
ul{
    list-style-type: none!important;

    
}

#partners-google{
    display: inline-block;
    background-color: #FFFFFF; 
    background-image: url(https://www.buzzsprout.com/images/badges/listen-on-embed.svg); 
    background-repeat: no-repeat; 
    border: 1px solid #000000; 
    border-radius: 5px; 
    margin: 0 5px 5px 0; 
    text-indent: -9000px; 
    background-position: -230px -113px; 
    height: 40px; 
    width: 165px;
}
#partners-apple{
    display: inline-block; background-color: #FFFFFF; 
    background-image: url(https://www.buzzsprout.com/images/badges/listen-on-embed.svg); 
    background-repeat: no-repeat; 
    border: 1px solid #000000; 
    border-radius: 5px; 
    margin: 0 5px 5px 0; 
    text-indent: -9000px; 
    background-position: -230px 7px; 
    height: 40px; 
    width: 165px;
}
#partners-spotify{
    display: inline-block; background-color: #FFFFFF; 
    background-image: url(https://www.buzzsprout.com/images/badges/listen-on-embed.svg); 
    background-repeat: no-repeat; 
    border: 1px solid #000000; 
    border-radius: 5px; 
    margin: 0 5px 5px 0; 
    text-indent: -9000px; 
    background-position: -230px -53px; 
    height: 40px; 
    width: 106px;
}
#foot-line{
    border-top: 2px solid gray;
    width: 94%;
    opacity: 0.4;
    margin-top: 5%;
}
#copyright
{
    opacity: 0.4;
    margin-bottom: 0px;
}
#insta,#linkedin{
    padding: 10px 10px;
}

#fb{
    
    padding: 10px 15px;
}
.social-icons a img{
    border: 1px solid orangered;
    margin-right:  3%;
    
        display: inline-block;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
}
.starter{
    margin-top: -15px;
}
.starter-list{
    margin-top: 10%;
}
.carousel{
    padding-top: 20px;
    width: 357px;
    overflow: hidden;
    height: 50px;
    position: relative;
}.carousel ul{
    position: relative;
    list-style: none;
    list-style-type: none;
    margin: 0;
    height: 50px;
    padding: 0;
}.carousel ul li{
    position: absolute;
    height: 25px;
    width: 50px;
    float: left;
    margin-right: 1px;
    background: #f2f2f2;
    text-align: center;
    padding-top: 25px;
}